html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

} ;

.TopHeader{
    
    margin-top: 3rem;
    width: 93vw;
    margin-left:-2rem;
height: 66vh;
/* font-size: 3rem; */
    color:#1d1d1d;
}
.welcomeHead{
    margin-top: 2rem;
}
.TopHeader h2{
    font-weight: normal;
    /* margin-right: 41rem; */
    /* margin-top: 7rem; */
    color: #333333;
    font-size: 1.25rem;
    margin-left: 3rem;
}
.TopHeader h1{
    width: 50%;
    font-size: 4rem;
    color: #333333;
    text-align: center;
}
.welcomeImg{
    float: right;
    margin: 3rem;
    width: 43vw;
}
.mark{
    background-color: orange;
    color:black;
}

@media (max-width:1230px){
    .welcomeImg{
        float: none;
        margin: auto;
        display: block;
    }
    h1{
        margin: auto;
    }
    .TopHeader h2{
        
    }
}
@media (max-width:850px) {
   .welcomeImg{
    width:18rem ;
   } 
}
@media (max-width:630px) {
    .TopHeader h2{
        margin:auto;
    }
    .TopHeader h1{
        font-size: 2rem;
    }
}